#nav {
  width: 290px;
  position: relative;
  float: left;
  margin: 2px 5px 2px 4px;
}

#nav > a {
  display: block;
  margin: 1px 2px 2px 2px;
  height: 73px;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  -moz-box-shadow: inset -3px -3px 5px black;
  -webkit-box-shadow: inset -3px -3px 5px black;
  box-shadow: inset -3px -3px 5px black;
}


#nav a.activeSlide {
  -moz-box-shadow: inset 3px 3px 5px black;
  -webkit-box-shadow: inset 3px 3x 5px black;
  box-shadow: inset 3px 3px 5px black;
}

#pictures {
  width: 720px;
  margin: 2px;
  position: relative;
  float: left;
  z-index: 5;
   
  -moz-box-shadow: 1px 1px 5px black, -1px -1px 5px black;
  -webkit-box-shadow: 1px 1px 5px black, -1px -1px 5px black;
  box-shadow: 1px 1px 5px black, -1px -1px 5px black;
}

.jpg {
  position: relative;
  z-index: 4;
}

#a_paging1 {
  background: url('../images/zyrion.gif');
}

#a_paging2 {
  background: url('../images/dbm.png');
}

#a_paging3 {
  background: url('../images/orange.jpg');
}

#a_paging4 {
  background: url('../images/orange.jpg');
}