#content, #left-content, #right-content {
  //text-shadow: 1px 1px 0px #bbb;
}

#content p, #left-content p, #right-content p {
  text-indent: 2em;
}

h2 {
  color: #292929;
  border: 1px solid #236B8E;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  //-moz-box-shadow: 1px 1px 1px black, -1px -1px 1px black;
  
  background: #236B8E;
  background: -moz-linear-gradient(center bottom , #7093DB 32%, #236B8E 77%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.77, #236B8E), color-stop(0.32, #7093DB));
}

h3 {
  padding: 5px 5px 5px 15px;
  background: #236B8E;
  background: -moz-linear-gradient(center bottom , #236B8E 32%, #7093DB 77%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, #236B8E), color-stop(0.77, #7093DB));

  border-radius: 15px 0px 15px 0px;
  -moz-border-radius: 15px 0px 15px 0px;
  -webkit-border-radius: 15px 0px 15px 0px;
  
  cursor: pointer;
}

#left-content {
  font-size: 14px;
  width: 500px;
  float: left;
  margin: 0px 50px 0px 0px;
  padding: 0px 0px 0px 20px;
}

#right-content {
  font-size: 13px;
  height: 1000px;
  padding: 5px 0px 0px 0px;
}

#box {
  color: #0066CC;
  float: left;
  font: 12px corbel,arial,sans-serif;
  height: 79px;
  padding: 5px;
  width: 103px;
}

#show-hide {
  margin: 0px 0px 10px 0px;
}

#corp_toggleDivContents, #govt_toggleDivContents, #bank_toggleDivContents, #educ_toggleDivContents, #ict_toggleDivContents{
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
}